<h1>New User</h1>
<div>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label>Name</label>
    <input type="text" name="user[name]">
  </div>
  <div>
    <label>Email</label>
    <input type="text" name="user[email]">
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="user[password]">
  </div>
  <div>
    <input type="submit"  value="Create">
  </div>
</form>
<a href="/users">Go Back</a>
</div>
